/* #region spaceHolders Display */
@media (min-width: 992px) {
  .spaceHolder {
    display: block;
  }
  .space {
    display: none;
  }
}
@media (max-width: 991px) {
  .spaceHolder {
    display: none;
  }
  .space {
    display: block;
  }
}
/* #endregion */

body {
  background-color: black;
}
.mainContainer {
}

#clearBtn,
#checkAgeBtn {
  background-color: antiquewhite;
  border: none;
  border-radius: 8px;
  padding: 10px 40px;
  cursor: pointer;
}

#clearBtn:hover,
#checkAgeBtn:hover {
    background-color: aquamarine;
}

#result {
    font-size: large;
    font-weight: bolder;
    margin-top: 10px;
}