/* #region spaceHolders Display */
@media (min-width: 992px) {
  .spaceHolder {
    display: block;
  }
  .space {
    display: none;
  }
}
@media (max-width: 991px) {
  .spaceHolder {
    display: none;
  }
  .space {
    display: block;
  }
}
/* #endregion */

body {
  background-color: black;
  font-family: "Exo 2";
  height: 100vh; /* Full height for background */

  /* Moving gradient background */
  background: linear-gradient(45deg, #ff7e5f, #feb47b, #ff7e5f);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

/* Gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mainContainer {
  padding-top: 100px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
  color: aliceblue;
}

.inputBox {
  padding: 10px;
  border-radius: 8px;
}

#clearBtn,
#checkAgeBtn {
  background-color: antiquewhite;
  border: none;
  border-radius: 8px;
  padding: 10px 40px;
  cursor: pointer;
}

#clearBtn:hover,
#checkAgeBtn:hover {
  background-color: aquamarine;
}

#result {
  font-size: large;
  font-weight: bolder;
  margin-top: 10px;
}
